.landing{
    position: relative;
    background-image: url("../../images/heroImageNew.png");
    height: fit-content;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: 0px;
    background-repeat: no-repeat;
    .textContent{
 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 20px;
        min-height: 420px;
        max-width: 950px;
        color: $white;
     
        .title{
            font-size: 28px;
            padding: 10px 0px;
            text-align: center;
            font-family: "bold";
            letter-spacing: 1px;
            transform: translateY(15px);
        }
        .slogan{
            display: flex;
            justify-content: center;
            flex-direction: column;
            line-height: 50px;
            b{
                font-size: 50px;
                text-align: center;
                
            }
            
        }
      

        
        .line{
            display: inline-block;
            width: 90%;
            height: 2px;
            background-color: $white;
        }
        .supportingDetails{
            font-size: 20px;
            text-align: center;
            padding: 10px 5px;
            max-width: 600px;

        }
        .buttons{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 30px;
            button{
                margin: 5px 10px;
                padding: 10px 40px;
                font-size: 20px;
            }
        }

        .landingArrows{
            display: flex;
            flex-direction: column;
            line-height: 0px;
            animation: jiggle 1.5s infinite;
            margin-top: 50px;
            cursor: pointer;
            .fa{
                font-size: 50px;
                transform: rotate(90deg);
            }
            .fa:nth-child(2){
                transform: rotate(90deg) translateX(-35px);
            }
        }
    
    }
}

@media(min-width:850px){
    .landing{

        .textContent{
            margin-top: 100px;
            .title{
                font-size: 32px;
                transform: translateY(15px);
            }
            .slogan{
                line-height: 90px;
                b{
                    font-size: 100px;
                }
                #changingWord{
                    
                    padding-bottom: 20px;
                }

            }



        }
    }



}

@media(min-width:1000px){
    .landing{
        background-position: center -100px;
    }
}
@keyframes jiggle{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
}