.redFoxServices{
    width: 100%;
    position: relative;


    .scrollContainer{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        .arrow{
            font-size: 100px;
            display: none;
            cursor: pointer;
            color: $primaryColor;
        }
      
        #cardContainer{
            width: 100%;
            overflow-x: scroll;
            display: flex;
            height: fit-content;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
        
           // box-shadow: 100px 0 200px $primaryColor, -100px 0 200px #191b35 ;
            
            .card{
                position: relative;
                background-color: $white;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px;
                box-shadow: 2px 2px 15px 0px #00000050;
                margin-right: 100px;
                margin-top: 15px;
                flex: 0 0 100%;
                scroll-snap-align: start;
                img{
                    width: 100%;
                    border-radius: 10px 10px 0px 0px;
                    height: 200px;
                    object-fit: cover;
                }
                .cardSymbol{
              
                    width: 80px;
                    height: 80px;
                    background-color: $white;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 160px;
                    box-shadow: 2px 2px 15px 0px #00000050;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }

                .cardTitle{
                    margin-top: 60px;
                    text-align: center;
                    line-height: 22px;
                    p{
                        color: $primaryColor;
                    }
                    b{
                        font-family: "bold";
                        font-size: 28px;
                    }
                }
                .serviceDescription{
                    margin: 20px 0px;
                    text-align: center;
                    padding: 0px 15px;
                    font-size: 18px;
                    line-height: 30px;
                }
                button{
                    padding: 10px 30px;
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }

        #cardContainer::-webkit-scrollbar {
            background-color: $primaryLight;
            height: 10px;
        }
        #cardContainer::-webkit-scrollbar-track {
            background-color: rgb(216, 154, 154);
        }
        #cardContainer::-webkit-scrollbar-thumb {
            background-color: $primaryColor;
            border-radius: 10px;
          
        }

       
    }


}

@media(min-width:450px){
    .redFoxServices{


        .scrollContainer{
     
           
            #cardContainer{

                .card{
      
                    flex: 0 0 450px;
                }
            }
        }
    }
}




@media(min-width:1550px){
    .redFoxServices{


        .scrollContainer{
            .arrow{
                display: block;
                margin: 50px 50px;
            }
            #cardContainer{
                width: 1550px;
                border-radius: 20px;
                .card{
      
                  
                }
            }
        }
    }
}