.contactInfo{
    margin-top: 50px;
    background-image: url("/images/houseOutsideDark.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;

    .contactMethods{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .contactMethod{
            background-color: $white;
            width: 300px;
            height: 145px;
            margin: 20px 5px;
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            
            .methodTitle{
                display: flex;
                height: fit-content;
                align-items: center;
                margin: 5px 20px;
                p{
                    font-family: "bold";
                    font-size: 25px;
                }
                .fa{
                    font-size: 30px;
                    margin-right: 10px;
                    color: $primaryColor;
                }
            }
            .details{
                margin-left: 20px;
                transform: translateY(-5px);
                p{
                    font-size: 20px;
                }
                .time{
                    display: flex;
    
                    b{
                    font-size: 20px;
                     width: 85px;
                     margin-right: 20px;
                    }
                }
    
                a{
                    text-decoration: none;
                    color: $primaryColor;
                    font-family: "bold";
                    font-size: 20px;
                }
            }
        }
    }
  
}

@media(min-width:1100px){
    .contactInfo{
        .contactMethods{
            margin-right: 40px;
        }
    }
}