.newPageLanding{
    background-image: url('../images/heroImageNew.png');
    width: 100%;
    height: fit-content;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center -250px;
    background-size: cover;
    background-repeat: no-repeat;
    .text{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        
        b{
            font-size: 80px;
            font-family: "bold";
            color: $white;
            line-height: 70px;
        }
    }
}


@media(min-width:1000px){

    .newPageLanding{

        .text{
            b{
                font-size: 100px;
            }
        }
    }


}