@font-face {
  font-family: "Sahitya";
  font-style: normal;
  src: url(../fonts/Sahitya/Sahitya-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Sahitya/Sahitya-Bold.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Sahitya";
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.primaryButton {
  background: rgb(194, 39, 45);
  background: linear-gradient(165deg, rgb(194, 39, 45) 50%, rgb(210, 87, 49) 100%);
  border: none;
  border-radius: 30px;
  color: #FAFAFA;
  font-size: 18px;
  padding: 7px 16px;
  cursor: pointer;
  transition: 0.5s;
  font-family: "bold";
}

.primaryButton:hover {
  filter: brightness(0.9);
}

.secondaryButton {
  background-color: transparent;
  border: 2px solid #FAFAFA;
  border-radius: 30px;
  color: #FAFAFA;
  font-family: "bold";
  padding: 3px 15px;
  font-size: 20px;
  cursor: pointer;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.titleSection b {
  color: #C2272D;
  font-family: "bold";
  font-size: 20px;
  transform: translateY(5px);
}
.titleSection p {
  font-size: 40px;
}
.titleSection .circles {
  display: flex;
  align-items: center;
  margin: 5px;
}
.titleSection .circles span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0px 3px;
  background-color: #C2272D;
}
.titleSection .circles .biggerCircle {
  width: 13px;
  height: 13px;
  background-color: #9b1f23;
}

.redWord {
  background-image: linear-gradient(90deg, rgb(194, 39, 45) 30%, rgb(210, 87, 49) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
  padding-bottom: 15px;
}

iframe {
  width: 100%;
}

.landing {
  position: relative;
  background-image: url("../../images/heroImageNew.png");
  height: -moz-fit-content;
  height: fit-content;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-position: 0px;
  background-repeat: no-repeat;
}
.landing .textContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 20px;
  min-height: 420px;
  max-width: 950px;
  color: #FAFAFA;
}
.landing .textContent .title {
  font-size: 28px;
  padding: 10px 0px;
  text-align: center;
  font-family: "bold";
  letter-spacing: 1px;
  transform: translateY(15px);
}
.landing .textContent .slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 50px;
}
.landing .textContent .slogan b {
  font-size: 50px;
  text-align: center;
}
.landing .textContent .line {
  display: inline-block;
  width: 90%;
  height: 2px;
  background-color: #FAFAFA;
}
.landing .textContent .supportingDetails {
  font-size: 20px;
  text-align: center;
  padding: 10px 5px;
  max-width: 600px;
}
.landing .textContent .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.landing .textContent .buttons button {
  margin: 5px 10px;
  padding: 10px 40px;
  font-size: 20px;
}
.landing .textContent .landingArrows {
  display: flex;
  flex-direction: column;
  line-height: 0px;
  animation: jiggle 1.5s infinite;
  margin-top: 50px;
  cursor: pointer;
}
.landing .textContent .landingArrows .fa {
  font-size: 50px;
  transform: rotate(90deg);
}
.landing .textContent .landingArrows .fa:nth-child(2) {
  transform: rotate(90deg) translateX(-35px);
}

@media (min-width: 850px) {
  .landing .textContent {
    margin-top: 100px;
  }
  .landing .textContent .title {
    font-size: 32px;
    transform: translateY(15px);
  }
  .landing .textContent .slogan {
    line-height: 90px;
  }
  .landing .textContent .slogan b {
    font-size: 100px;
  }
  .landing .textContent .slogan #changingWord {
    padding-bottom: 20px;
  }
}
@media (min-width: 1000px) {
  .landing {
    background-position: center -100px;
  }
}
@keyframes jiggle {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
.whyRedFox .whyReasons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyRedFox .whyReasons .reason {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
.whyRedFox .whyReasons .reason img {
  width: 200px;
  height: 200px;
}
.whyRedFox .whyReasons .reason .reasonContent h4 {
  font-size: 25px;
  font-family: "bold";
}
.whyRedFox .whyReasons .reason .reasonContent p {
  max-width: 600px;
  color: #5a676e;
  margin: 10px 0px;
  line-height: 20px;
  padding: 0px 5px;
}

@media (min-width: 1000px) {
  .whyRedFox .whyReasons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .whyRedFox .whyReasons .reason {
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    text-align: unset;
  }
  .whyRedFox .whyReasons .reason img {
    width: 300px;
    height: 300px;
  }
  .whyRedFox .whyReasons .reason .right {
    order: 1;
    margin-left: 65px;
  }
  .whyRedFox .whyReasons .reason .left {
    margin-right: 65px;
  }
  .whyRedFox .whyReasons .reason .reasonContent p {
    text-align: justify;
    margin: unset;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.aboutRedFox {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutRedFox .aboutText {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  padding: 0px 5px;
  justify-self: flex-start;
}
.aboutRedFox .aboutText b {
  font-size: 24px;
  font-family: "bold";
}
.aboutRedFox .aboutText .red {
  font-size: 30px;
  font-family: "bold";
  color: #C2272D;
  transform: translateY(15px);
}
.aboutRedFox .aboutText p {
  padding: 10px 0px;
  padding-top: 5px;
  line-height: 25px;
  color: #5a676e;
}
.aboutRedFox img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: min(100%, 405px);
  margin: 10px 10px;
  height: 200px;
}
.aboutRedFox .indexForm {
  background-color: #111111;
  color: #FAFAFA;
  max-width: 385px;
  padding: 10px 10px;
  border-radius: 10px;
}
.aboutRedFox .indexForm .formTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.aboutRedFox .indexForm .formTitle b:nth-child(2) {
  color: #C2272D;
}
.aboutRedFox .indexForm p {
  font-family: "bold";
  font-size: 20px;
  margin: 5px 0px;
  max-width: 405px;
}
.aboutRedFox .indexForm input:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
}
.aboutRedFox .indexForm .details, .aboutRedFox .indexForm .contactForm .contactPageForm .referral, .contactForm .contactPageForm .aboutRedFox .indexForm .referral {
  width: 160px;
  height: 26px;
  color: #5a676e;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin: 5px 2px;
  background-color: #fafafa;
  padding: 2px 2px;
}
.aboutRedFox .indexForm .checkboxes {
  margin: 8px 0px;
}
.aboutRedFox .indexForm .checkboxes .box {
  margin: 0px 2px;
}
.aboutRedFox .indexForm .referral {
  border-radius: 5px;
  width: 98%;
  border: none;
  margin-bottom: 10px;
  padding: 2px 2px;
  font-size: 14px;
}
.aboutRedFox .indexForm textarea {
  resize: none;
  width: 98%;
  border: none;
  height: 150px;
  border-radius: 5px;
  padding: 2px 2px;
  font-size: 14px;
}
.aboutRedFox .indexForm textarea:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
  border: none;
}
.aboutRedFox .indexForm button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "bold";
}

@media (min-width: 1260px) {
  .aboutRedFox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: unset;
    align-items: unset;
  }
  .aboutRedFox b {
    text-align: start;
  }
  .aboutRedFox p {
    font-size: 18px;
    text-align: start;
    margin-right: 5px;
  }
  .aboutRedFox img {
    margin: unset;
    height: auto;
  }
  .aboutRedFox form {
    margin-left: 10px;
  }
}
.paginator {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  background: rgb(194, 39, 45);
  background: linear-gradient(222deg, rgb(194, 39, 45) 0%, rgb(210, 87, 49) 100%);
}
.paginator .lines .topBlackLine, .paginator .lines .bottomBlackLine, .paginator .lines .bottomRedLine, .paginator .lines .topRedLine {
  position: absolute;
  display: block;
  width: 20vw;
  height: 10px;
  background-color: #111111;
  top: -20px;
  right: 0px;
  border-radius: 10px 0px 0px 10px;
  z-index: -1;
}
.paginator .lines .topRedLine {
  top: -13px;
  width: 22vw;
  background: rgb(194, 39, 45);
  background: linear-gradient(222deg, rgb(194, 39, 45) 0%, rgb(210, 87, 49) 100%);
  z-index: 2;
}
.paginator .lines .bottomBlackLine, .paginator .lines .bottomRedLine {
  top: unset;
  right: unset;
  bottom: -20px;
  left: 0px;
  border-radius: 0px 10px 10px 0px;
}
.paginator .lines .bottomRedLine {
  bottom: -13px;
  background: rgb(194, 39, 45);
  background: linear-gradient(222deg, rgb(194, 39, 45) 0%, rgb(210, 87, 49) 100%);
  z-index: 2;
  width: 22vw;
}
.paginator .fa-quote-left {
  color: #FAFAFA;
  font-size: 40px;
  padding: 20px;
}
.paginator .scrollContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.paginator .scrollContainer .arrow {
  cursor: pointer;
  display: none !important;
  z-index: 1;
  width: 60px;
  height: 60px;
  transform: translateY(-25px);
  display: flex;
}
.paginator .scrollContainer .arrow p {
  line-height: 50px;
  font-size: 100px;
  color: #FAFAFA;
}
.paginator .scrollContainer #testimonialContainer {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 20px;
}
.paginator .scrollContainer #testimonialContainer .testimonial {
  width: calc(100% - 20px);
  flex-shrink: 0;
  scroll-snap-align: start;
  text-align: center;
  padding: 0px 10px;
}
.paginator .scrollContainer #testimonialContainer .testimonial p {
  color: #FAFAFA;
  font-size: 16px;
  line-height: 30px;
}
.paginator .scrollContainer #testimonialContainer .testimonial .bold {
  font-size: 25px;
  color: #FAFAFA;
  letter-spacing: 1px;
  font-family: "bold";
  margin-top: 15px;
}
.paginator .scrollContainer #testimonialContainer .testimonial .pad {
  margin-bottom: 5px;
}
.paginator .scrollContainer #testimonialContainer::-webkit-scrollbar {
  height: 15px;
}
.paginator .scrollContainer #testimonialContainer::-webkit-scrollbar-track {
  background-color: #111111;
}
.paginator .scrollContainer #testimonialContainer::-webkit-scrollbar-thumb {
  background-color: #FAFAFA;
  border-radius: 30px;
}
.paginator .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.paginator .circles span {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0px 2px;
  background-color: #A8A8A8;
}
.paginator .circles #circle0 {
  background-color: #FAFAFA;
}

@media (min-width: 600px) {
  .paginator .scrollContainer #testimonialContainer .testimonial p {
    font-size: 18px;
  }
  .paginator .scrollContainer #testimonialContainer img {
    height: auto;
    -o-object-fit: unset;
       object-fit: unset;
  }
}
@media (min-width: 1200px) {
  .paginator .scrollContainer {
    width: -moz-fit-content;
    width: fit-content;
  }
  .paginator .scrollContainer .arrow {
    display: block !important;
  }
  .paginator .scrollContainer #testimonialContainer {
    width: 1000px;
    margin: 0px 30px;
  }
  .paginator .scrollContainer #testimonialContainer::-webkit-scrollbar {
    display: none;
  }
  .paginator .circles {
    margin-top: 0px;
  }
}
@media (min-width: 1400px) {
  .paginator .scrollContainer #testimonialContainer {
    width: 1200px;
  }
  .paginator .scrollContainer #testimonialContainer img {
    height: auto;
    width: 1200px;
  }
}
.redFoxServices {
  width: 100%;
  position: relative;
}
.redFoxServices .scrollContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}
.redFoxServices .scrollContainer .arrows {
  display: flex;
  align-items: center;
  position: absolute;
  top: -20px;
}
.redFoxServices .scrollContainer .arrows .arrow {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  font-size: 40px;
  cursor: pointer;
  color: #dbdbdb;
  z-index: 2;
  padding: 0px 12px;
  border: 3px solid #dbdbdb;
  margin: 0px 5px;
  transition: 0.5s;
}
.redFoxServices .scrollContainer .arrows .fa-angle-right:hover {
  animation: jiggleRight 1.5s ease-in-out infinite;
}
.redFoxServices .scrollContainer .arrows .fa-angle-left:hover {
  animation: jiggleLeft 1.5s ease-in-out infinite;
}
.redFoxServices .scrollContainer .arrows .arrow:hover {
  color: #C2272D;
  border-color: #C2272D;
}
.redFoxServices .scrollContainer #cardContainer {
  margin-top: 25px;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  z-index: 1;
}
.redFoxServices .scrollContainer #cardContainer .card {
  position: relative;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(29, 29, 29, 0.26);
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 5px;
  flex: 0 0 100%;
  scroll-snap-align: start;
}
.redFoxServices .scrollContainer #cardContainer .card img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.redFoxServices .scrollContainer #cardContainer .card .cardSymbol {
  width: 80px;
  height: 80px;
  background-color: #FAFAFA;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 160px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3137254902);
}
.redFoxServices .scrollContainer #cardContainer .card .cardSymbol img {
  width: 65px;
  height: 65px;
}
.redFoxServices .scrollContainer #cardContainer .card .cardTitle {
  margin-top: 60px;
  text-align: center;
  line-height: 22px;
}
.redFoxServices .scrollContainer #cardContainer .card .cardTitle p {
  color: #C2272D;
}
.redFoxServices .scrollContainer #cardContainer .card .cardTitle b {
  font-family: "bold";
  font-size: 28px;
}
.redFoxServices .scrollContainer #cardContainer .card .serviceDescription {
  margin: 20px 0px;
  text-align: center;
  padding: 0px 15px;
  font-size: 18px;
  line-height: 30px;
}
.redFoxServices .scrollContainer #cardContainer .card button {
  padding: 10px 30px;
  font-size: 20px;
  margin-bottom: 10px;
}
.redFoxServices .scrollContainer #cardContainer #card1 .cardSymbol img, .redFoxServices .scrollContainer #cardContainer #card2 .cardSymbol img, .redFoxServices .scrollContainer #cardContainer #card4 .cardSymbol img, .redFoxServices .scrollContainer #cardContainer #card5 .cardSymbol img, .redFoxServices .scrollContainer #cardContainer #card6 .cardSymbol img, .redFoxServices .scrollContainer #cardContainer #card8 .cardSymbol img {
  width: 50px;
  height: 50px;
}
.redFoxServices .scrollContainer #cardContainer #card1 .cardSymbol img {
  transform: translate(-6px, 3px);
}
.redFoxServices .scrollContainer #cardContainer #card4 .cardSymbol img {
  transform: translate(0px, -3px);
}
.redFoxServices .scrollContainer #cardContainer::-webkit-scrollbar {
  height: 15px;
}
.redFoxServices .scrollContainer #cardContainer::-webkit-scrollbar-track {
  background-color: #111111;
}
.redFoxServices .scrollContainer #cardContainer::-webkit-scrollbar-thumb {
  background-color: #FAFAFA;
  border-radius: 5px;
}

@media (min-width: 450px) {
  .redFoxServices .scrollContainer #cardContainer .card {
    flex: 0 0 450px;
    margin-bottom: 15px;
  }
  .redFoxServices .scrollContainer #cardContainer::-webkit-scrollbar {
    height: 10px;
    display: none;
  }
}
@media (min-width: 1600px) {
  .redFoxServices .scrollContainer #cardContainer {
    width: 1600px;
    border-radius: 20px;
  }
  .redFoxServices .scrollContainer #cardContainer .card {
    scroll-snap-align: unset;
  }
  .redFoxServices .scrollContainer #cardContainer .card:first-child {
    margin-left: 5px;
  }
  .redFoxServices .scrollContainer #cardContainer::-webkit-scrollbar {
    background-color: #FAFAFA;
    height: 10px;
  }
}
@keyframes jiggleRight {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(3px);
  }
}
@keyframes jiggleLeft {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-3px);
  }
}
.gallery {
  margin-bottom: 100px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 341px 75px 243px 293px 395px;
  grid-template-rows: auto;
  grid-template-areas: "hair1 hair2 hair2 hair3 rightbox" "hair1 hair2 hair2 hair3 hair5" "leftbox leftbox nails2 nails2 hair5";
  gap: 8px;
  zoom: 0.9;
}
.gallery img {
  height: 446px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.gallery .leftBox, .gallery .rightBox {
  grid-area: leftbox;
  background-color: #C2272D;
  height: 300px;
  width: 426px;
  border-radius: 0px 0px 0px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gallery .leftBox h1, .gallery .rightBox h1 {
  color: #FAFAFA;
  font-size: 45px;
  font-family: "bold";
}
.gallery .rightBox {
  grid-area: rightbox;
  border-radius: 0px 73px 0px 0px;
  line-height: 70px;
  text-align: center;
  width: 395px !important;
  height: 257px;
}
.gallery :nth-child(3) {
  grid-area: hair1;
  border-radius: 73px 0px 0px 0px;
}
.gallery :nth-child(4) {
  grid-area: hair2;
}
.gallery :nth-child(5) {
  grid-area: hair3;
}
.gallery :nth-child(6) {
  grid-area: nails2;
  height: 300px;
  width: 545px;
}
.gallery :nth-child(7) {
  grid-area: hair5;
  height: 490px;
  width: 395px;
  border-radius: 0px 0px 73px 0px;
}

@media (max-width: 1300px) {
  .gallery {
    zoom: 0.6;
  }
}
@media (max-width: 1000px) {
  .gallery {
    zoom: 0.45;
  }
}
@media (max-width: 1000px) {
  .gallery {
    display: none;
  }
}
.contactUsTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0px;
}
.contactUsTitle img {
  width: 400px;
  height: 400px;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.contactUsTitle .titleSection {
  justify-content: center;
}
.contactUsTitle .contactText {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactUsTitle .contactText a {
  text-decoration: none;
  font-family: "bold";
  color: rgb(210, 87, 49);
}
.contactUsTitle .contactText p {
  max-width: 500px;
  margin: 0px 5px;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 1000px) {
  .contactUsTitle img {
    display: block;
    border-radius: 0px;
  }
  .contactUsTitle .contactText {
    margin-left: 50px;
    text-align: unset;
  }
  .contactUsTitle .contactText p {
    font-size: 18px;
  }
  .contactUsTitle .titleSection {
    justify-content: unset;
  }
}
.contactInfo {
  margin-top: 50px;
  background-image: url("/images/houseOutsideDark.png");
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.contactInfo .contactMethods {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactInfo .contactMethods .contactMethod {
  background-color: #FAFAFA;
  width: 300px;
  height: 145px;
  margin: 20px 5px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.contactInfo .contactMethods .contactMethod .methodTitle {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  align-items: center;
  margin: 5px 20px;
}
.contactInfo .contactMethods .contactMethod .methodTitle p {
  font-family: "bold";
  font-size: 25px;
}
.contactInfo .contactMethods .contactMethod .methodTitle .fa {
  font-size: 30px;
  margin-right: 10px;
  color: #C2272D;
}
.contactInfo .contactMethods .contactMethod .details, .contactInfo .contactMethods .contactMethod .contactForm .contactPageForm .referral, .contactForm .contactPageForm .contactInfo .contactMethods .contactMethod .referral {
  margin-left: 20px;
  transform: translateY(-5px);
}
.contactInfo .contactMethods .contactMethod .details p, .contactInfo .contactMethods .contactMethod .contactForm .contactPageForm .referral p, .contactForm .contactPageForm .contactInfo .contactMethods .contactMethod .referral p {
  font-size: 20px;
}
.contactInfo .contactMethods .contactMethod .details .time, .contactInfo .contactMethods .contactMethod .contactForm .contactPageForm .referral .time, .contactForm .contactPageForm .contactInfo .contactMethods .contactMethod .referral .time {
  display: flex;
}
.contactInfo .contactMethods .contactMethod .details .time b, .contactInfo .contactMethods .contactMethod .contactForm .contactPageForm .referral .time b, .contactForm .contactPageForm .contactInfo .contactMethods .contactMethod .referral .time b {
  font-size: 20px;
  width: 85px;
  margin-right: 20px;
}
.contactInfo .contactMethods .contactMethod .details a, .contactInfo .contactMethods .contactMethod .contactForm .contactPageForm .referral a, .contactForm .contactPageForm .contactInfo .contactMethods .contactMethod .referral a {
  text-decoration: none;
  color: #C2272D;
  font-family: "bold";
  font-size: 20px;
}

@media (min-width: 1100px) {
  .contactInfo .contactMethods {
    margin-right: 40px;
  }
}
.aboutRedFox {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutRedFox .aboutText {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  text-align: center;
  padding: 0px 5px;
  justify-self: flex-start;
}
.aboutRedFox .aboutText b {
  font-size: 24px;
  font-family: "bold";
}
.aboutRedFox .aboutText .red {
  font-size: 30px;
  font-family: "bold";
  color: #C2272D;
  transform: translateY(15px);
}
.aboutRedFox .aboutText p {
  padding: 10px 0px;
  padding-top: 5px;
  line-height: 25px;
  color: #5a676e;
}
.aboutRedFox img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: min(100%, 405px);
  margin: 10px 10px;
  height: 200px;
}
.aboutRedFox .indexForm {
  background-color: #111111;
  color: #FAFAFA;
  max-width: 385px;
  padding: 10px 10px;
  border-radius: 10px;
}
.aboutRedFox .indexForm .formTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.aboutRedFox .indexForm .formTitle b:nth-child(2) {
  color: #C2272D;
}
.aboutRedFox .indexForm p {
  font-family: "bold";
  font-size: 20px;
  margin: 5px 0px;
  max-width: 405px;
}
.aboutRedFox .indexForm input:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
}
.aboutRedFox .indexForm .details, .aboutRedFox .indexForm .contactForm .contactPageForm .referral, .contactForm .contactPageForm .aboutRedFox .indexForm .referral {
  width: 160px;
  height: 26px;
  color: #5a676e;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  margin: 5px 2px;
  background-color: #fafafa;
  padding: 2px 2px;
}
.aboutRedFox .indexForm .checkboxes {
  margin: 8px 0px;
}
.aboutRedFox .indexForm .checkboxes .box {
  margin: 0px 2px;
}
.aboutRedFox .indexForm .referral {
  border-radius: 5px;
  width: 98%;
  border: none;
  margin-bottom: 10px;
  padding: 2px 2px;
  font-size: 14px;
}
.aboutRedFox .indexForm textarea {
  resize: none;
  width: 98%;
  border: none;
  height: 150px;
  border-radius: 5px;
  padding: 2px 2px;
  font-size: 14px;
}
.aboutRedFox .indexForm textarea:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
  border: none;
}
.aboutRedFox .indexForm button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "bold";
}

@media (min-width: 1260px) {
  .aboutRedFox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: unset;
    align-items: unset;
  }
  .aboutRedFox b {
    text-align: start;
  }
  .aboutRedFox p {
    font-size: 18px;
    text-align: start;
    margin-right: 5px;
  }
  .aboutRedFox img {
    margin: unset;
    height: auto;
  }
  .aboutRedFox form {
    margin-left: 10px;
  }
}
.contactForm {
  padding: 10px 10px;
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: center;
}
.contactForm h1 {
  color: #FAFAFA;
  font-size: 50px;
  line-height: 60px;
  font-family: "bold";
  text-align: center;
}
.contactForm span {
  background-image: linear-gradient(90deg, rgb(194, 39, 45) 30%, rgb(210, 87, 49) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
  font-family: "bold";
}
.contactForm .contactPageForm {
  color: #FAFAFA;
  max-width: 1500px;
  border-radius: 10px;
}
.contactForm .contactPageForm p {
  font-family: "bold";
  font-size: 20px;
  margin: 5px 0px;
  max-width: 405px;
}
.contactForm .contactPageForm input:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
}
.contactForm .contactPageForm .details, .contactForm .contactPageForm .referral {
  width: 100%;
  max-width: 1200px;
  height: 50px;
  color: #5a676e;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  margin: 5px 2px;
  background-color: #fafafa;
  padding: 2px 2px;
}
.contactForm .contactPageForm .checkboxes {
  margin: 8px 0px;
}
.contactForm .contactPageForm .checkboxes .box {
  margin: 0px 2px;
  width: 15px;
  height: 15px;
}
.contactForm .contactPageForm .referral {
  border-radius: 5px;
  width: 100%;
  border: none;
  margin-bottom: 10px;
  padding: 2px 2px;
  font-size: 18px;
}
.contactForm .contactPageForm textarea {
  resize: none;
  width: 100%;
  max-width: 1200px;
  border: none;
  height: 150px;
  border-radius: 5px;
  padding: 2px 2px;
  font-size: 18px;
}
.contactForm .contactPageForm textarea:focus {
  outline: none !important;
  background-color: rgb(253, 218, 218);
  border: none;
}
.contactForm .contactPageForm button {
  margin-top: 10px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "bold";
}

@media (min-width: 1000px) {
  .contactForm h1 {
    text-align: unset;
  }
}
.newPageLanding {
  background-image: url("../images/heroImageNew.png");
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center -250px;
  background-size: cover;
  background-repeat: no-repeat;
}
.newPageLanding .text {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.newPageLanding .text b {
  font-size: 80px;
  font-family: "bold";
  color: #FAFAFA;
  line-height: 70px;
}

@media (min-width: 1000px) {
  .newPageLanding .text b {
    font-size: 100px;
  }
}
.navigationBar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.navigationBar img {
  padding-left: 30px;
  width: 106px;
  height: 84px;
}
.navigationBar a, .navigationBar p {
  text-decoration: none;
  cursor: pointer;
}
.navigationBar a button, .navigationBar p button {
  display: none;
  font-size: 20px;
  font-family: "bold";
}
.navigationBar .navSocials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.navigationBar .navSocials p {
  font-size: 20px;
  letter-spacing: 2px;
  color: #FAFAFA;
  font-family: "bold";
}
.navigationBar .navSocials .fa {
  margin-top: 15px;
  font-size: 28px;
  color: #FAFAFA;
}
.navigationBar #menu {
  position: fixed;
  z-index: 6;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: visible;
  transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transform: translateX(100%);
  background: rgb(194, 39, 45);
  background: linear-gradient(222deg, rgb(194, 39, 45) 0%, rgb(210, 87, 49) 100%);
}
.navigationBar #menu img {
  padding-left: 0px;
}
.navigationBar #menu ul {
  padding-top: 50px;
  list-style: none;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigationBar #menu ul li {
  padding: 20px 0px;
  text-align: center;
  width: 90%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  margin-right: unset;
}
.navigationBar #menu ul li .fa {
  display: none;
}
.navigationBar #menu ul li a, .navigationBar #menu ul li p {
  font-family: "bold";
  text-decoration: none;
  font-size: 20px;
  color: #FAFAFA;
  letter-spacing: 2px;
}
.navigationBar a button, .navigationBar p button {
  letter-spacing: 1px;
}
.navigationBar a button .fa, .navigationBar p button .fa {
  transform: translateY(4px);
  font-size: 25px;
}

.hamburgerMenu {
  position: absolute;
  z-index: 7;
  top: 40px;
  right: 30px;
}
.hamburgerMenu input {
  opacity: 50%;
  width: 70px;
  height: 60px;
  opacity: 0%;
  position: absolute;
  top: -20px;
  left: -15px;
}
.hamburgerMenu span {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #C2272D;
  transition: 0.3s ease-in;
  z-index: -2;
}
.hamburgerMenu span:nth-child(2) {
  transform-origin: 0% 0%;
}
.hamburgerMenu span:last-child {
  transform-origin: 0% 100%;
}
.hamburgerMenu input:checked ~ span {
  transform: rotate(45deg) translate(0px, 0px);
  background-color: #FAFAFA;
}
.hamburgerMenu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.hamburgerMenu input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-5px, 4px);
}

@media (min-width: 1000px) {
  .navigationBar {
    z-index: 2;
    justify-content: space-around;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    background-color: transparent;
  }
  .navigationBar img {
    align-self: flex-start;
  }
  .navigationBar a button, .navigationBar p button {
    display: unset;
  }
  .navigationBar .navSocials {
    display: none;
  }
  .navigationBar #menu {
    background-color: transparent;
    transform: unset !important;
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    background: unset;
  }
  .navigationBar #menu img {
    display: none;
  }
  .navigationBar #menu .socials {
    display: none;
  }
  .navigationBar #menu ul {
    padding-top: 0px;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    flex-direction: row;
  }
  .navigationBar #menu ul li {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
    padding: 0px 20px;
    padding-bottom: 0px;
    border: none;
  }
  .navigationBar #menu ul li a, .navigationBar #menu ul li p {
    font-size: 20px;
    color: #FAFAFA;
    letter-spacing: 1px;
    width: -moz-fit-content;
    width: fit-content;
    display: inline-block;
  }
  .navigationBar #menu ul li :after {
    display: block;
    content: "";
    border-bottom: 3px solid #C2272D;
    transform: scaleX(0);
    transition: 250ms ease-in-out;
  }
  .navigationBar #menu ul li :hover::after {
    transform: scaleX(1);
    transform-origin: 50% 100%;
  }
  .hamburgerMenu {
    display: none;
  }
}
footer {
  margin-top: 0px;
  color: #FAFAFA !important;
  display: flex;
  background-color: #111111;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
}
footer .section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .section b {
  letter-spacing: 1px;
  font-size: 18px;
  margin-right: 5px;
}
footer .section ul {
  padding-bottom: 35px;
  list-style: none;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 166px;
}
footer .section ul li {
  padding: 5px 0px;
  transition: 0.5s ease-in-out;
}
footer .section ul li a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 18px;
}
footer .section ul li .fa {
  color: #FAFAFA;
}
footer .section ul li:hover {
  opacity: 0.4;
  cursor: pointer;
}
footer .section ul li:first-child:hover {
  opacity: 1;
  cursor: auto;
}
footer .section ul li:first-child {
  color: #644CA8;
}
footer .section ul li:first-child b {
  color: #644CA8;
  font-family: "bold";
  color: #FAFAFA;
}
footer .logoAndDescription {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .logoAndDescription p {
  max-width: 320px;
  text-align: center;
  font-size: 18px;
}
footer .logoAndDescription img {
  width: 106px;
  height: 84px;
}
footer .hours .fa {
  padding-right: 5px;
  font-size: 18px;
}
footer .hours ul li {
  width: -moz-fit-content;
  width: fit-content;
}
footer .hours ul li b {
  display: inline-block;
  width: 50px;
}
footer .contact .fa {
  width: 20px;
  height: 20px;
  text-align: center;
}
footer .contact .fa-instagram {
  padding-top: 3px;
  padding-right: 2px;
}

@media (min-width: 800px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer .section {
    width: 200px;
    height: 350px;
  }
  footer .logoAndDescription {
    flex-basis: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (min-width: 1300px) {
  footer {
    justify-content: center;
  }
  footer .section {
    padding-top: 49px;
    margin: 0px 25px;
  }
  footer .logoAndDescription {
    transform: translateY(-55px);
    padding-top: 0px;
    flex-basis: auto;
    width: 250px !important;
  }
}
.copyright {
  background-color: #0c0c0c;
  width: 100%;
  color: #FAFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright .developer {
  display: flex;
}
.copyright .developer p {
  font-size: 15px;
  margin: auto;
}
.copyright .developer a {
  text-decoration: none;
  font-family: "bold";
  background-image: linear-gradient(90deg, rgb(194, 39, 45) 30%, rgb(210, 87, 49) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent !important;
}
.copyright .developer a:hover {
  opacity: 0.5;
}/*# sourceMappingURL=styles.css.map */